.movies__background-card{
    background-color: #2F2F2F;
    border-radius: 3px;
    width: 52px;
    height: 18px;
    margin-right: 14px;
}

@media screen and (max-width: 1023px) {
    .movies__background-card{
        margin-right: 0;

    }
    
}

@media screen and (max-width: 767px) {
    .movies__background-card{
        margin-right: 0;

    }
    
}