.portfolio__block_quote {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    max-width: 600px;
    margin-bottom: 81px;
}