.movies{
    max-width: 1140px;
    margin: 70px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 30px;
    row-gap: 58px;
}