.movies{
    max-width: 1140px;
    margin: 70px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 30px;
    row-gap: 58px;
}

.saved .movies{
    margin-bottom: 240px;
}

@media screen and (max-width: 1023px) {
    .movies{
        max-width: 710px;
        grid-template-columns: repeat(2, 339fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 47px;
        column-gap: 30px;

    }
    .saved .movies{
        margin-bottom: 175px;
    }
    
}

@media screen and (max-width: 767px) {
    .movies{
        max-width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 36px;
        column-gap: 0;

    }

    .saved .movies{
        margin-bottom: 153px;
    }
    
}