.portfolio__block-subtitle {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    margin-bottom: 26px;
    max-width: 600px;
}


@media screen and (max-width: 1023px) {
    .portfolio__block-subtitle{
        font-size: 12px;
        line-height: 18px;
        max-width: 348px;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 767px) {
    .portfolio__block-subtitle{
        font-size: 11px;
        line-height: 16px;
    }
    
}
