.button {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: white;
    border-radius: 10px;
    background: #303030;
    width: 96px;
    height: 36px;
    flex-shrink: 0;
    border: 1px solid #303030;
    align-self: center;
    flex-direction: row;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
}

.technology__block-information > .button-information > .button{
    height: 60px;
    width: 90px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

