.button-information {
    display: flex;
    justify-content: center;
    margin: 150px 0 30px 0;
    transition: opacity .2s linear;
    gap: 10px;
}

.technology__information > .button-information{
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .button-information{
        margin-top: 314px;
    }
    .technology__information > .button-information{
        margin: 83px 0 0 0;
    }
    
}

@media screen and (max-width: 787px) {
    .button-information{
        margin-top: 212px;
        margin-bottom: 13px;
        gap: 6px;
    }
    .technology__information > .button-information{
        margin: 50px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto-fill);
        gap: 10px;
    }
    
}