.login__block{
    max-width: 1280px;
    margin: 178px auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .login__block{
        margin-bottom: 232px;
        max-width: 768px;
    }
    
}

@media screen and (max-width: 767px) {
    .login__block{
        margin-bottom: 30px;
        margin-top: 266px;
        max-width: 320px;
    }
    
}