.portfolio__block{
    display: flex;
    flex-wrap: wrap;
}

.portfolio__block.url{
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1140px;
}

.portfolio__text{
    order: -1
}

@media screen and (max-width: 767px) {
    .portfolio__text {
      order: 1;
    }
  }