.footer__yandex-block{
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 62px;
    margin: 20px 0;
}

@media screen and (max-width: 767px) {
    .footer__yandex-block{
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 12px;
        position: unset;
        text-align: center;
    }
    
}