.technology__title {
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    margin: 90px 270px 0 270px;
}

@media screen and (max-width: 1023px) {
    .technology__title{
        margin: 80px 34px 0 34px;
    }
    
}

@media screen and (max-width: 767px) {
    .technology__title{
        margin-top: 60px;
        margin: 60px -4px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }
    
}