.portfolio__block-github{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-transform: none;
    text-decoration: none;
    color: white;
    transition: opacity .2s linear;
}

.portfolio__block-github:hover{
    opacity: .8;
}

@media screen and (max-width: 1023px) {
    .portfolio__block-github{
        font-weight: 500;
    }
    
}

@media screen and (max-width: 767px) {
    .portfolio__block-github{
    }
    
}