.portfolio__image-block {
    background-image: url('../../.././images/portfolio.jpg');
    width: 270px;
    height: 327px;
    background-size: cover;
    flex-shrink: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: absolute;
    top: 66px;
    right: 0;
}

@media screen and (max-width: 1023px) {
    .portfolio__image-block{
        width: 255;
        height: 307px;
    }
    
}

@media screen and (max-width: 767px) {
    .portfolio__image-block{
        position: unset;
        margin-top: 60px;
        width: 292px;
        height: 352px;
    }
    
}