.portfolio__block-title{
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    margin: 66px 0 16px 0;
    max-width: 600px;
}

p.portfolio__block-title {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
    margin: 100px 0 50px 0;
}

@media screen and (max-width: 1023px) {
    .portfolio__block-title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        max-width: 348px;
    }
    p.portfolio__block-title {
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__block-title{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;

    }
    p.portfolio__block-title {
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: 14px;
    }
}