.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 14px;
}

.switch input {display:none;}

@media screen and (max-width: 1023px) {
    .switch{
        width: 34px;
    }
    
}