.search-form__subtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin: 0 0 0 12px;
}

@media screen and (max-width: 1023px) {
    .search-form__subtitle{
        line-height: 18px;
    }
    
}

@media screen and (max-width: 767px) {
    .search-form__subtitle{
        font-size: 11px;
    }
    
}