.technology__subtitle {
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;
    max-width: 460px;
    margin: 26px auto 0 auto;
}

@media screen and (max-width: 1023px) {
    .technology__subtitle{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
        margin-top: 22px;
    }
}

@media screen and (max-width: 767px) {
    .technology__subtitle{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin-top: 24px;
    }
}