.movies__card_title{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 250px;
    margin: 0;
    margin-left: 14px;
    max-height: 16px;
}