.profile__title{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 74px;
    margin-bottom: 123px;
}

@media screen and (max-width: 1023px) {
    .profile__title{
        margin-top: 236px;
        margin-bottom: 96px;
    }
    
}