.footer{
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .footer{
        max-width: 708px;
    }
    
}

@media screen and (max-width: 767px) {
    .footer{
        max-width: 300px;
        height: 253px;
    }
    
}