.popup__content{
    width: 520px;
    height: 1024px;
    background: #202020;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .popup__content{
        width: 320px;
        height: 780px;
    }
    
}