.profile__exit-button{
    color: #EE3465;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: 0;
    width: 410px;
    margin: 16px auto 70px auto;
    padding: 0;
    cursor: pointer;
    transition: opacity .2s linear;
}

.profile__exit-button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .profile__exit-button{
        margin-bottom: 269px;


    }
    
}

@media screen and (max-width: 767px) {
    .profile__exit-button{
        margin-bottom: 40px;
        width: 260px;

    }
    
}