.movies__card_image{
    object-fit: cover;
    max-height: 201px;
    margin-bottom: 14px;
    cursor: pointer;
}

.all .movies__card_image:hover ~ .movies__card_button{
    visibility: visible;
}

.saved .movies__card_image:hover ~ .movies__card_button-delete{
    visibility: visible;
}