.content__title-about {
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    max-width: 730px;
    margin: 160px auto 0 auto;
}

@media screen and (max-width: 1023px) {
    .content__title-about{
        margin: 350px auto 0 auto;
        max-width: 680px;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -1.6px;
    }
    
}

@media screen and (max-width: 767px) {
    .content__title-about{
        margin: 220px auto 0 auto;
        max-width: 292px;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: -1.16px;
    }
    
}

