.information__greenLine {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #3DDC84;
    max-width: 228px;
    height: 26px;
    flex-shrink: 0;
    margin: 0;
    margin-top: 110px;
    padding-top: 10px;
}

@media screen and (max-width: 1023px) {
    .information__greenLine{
        margin-top: 93px;
        height: 28px;
        padding-top: 8px;
    }
    
}

@media screen and (max-width: 767px) {
    .information__greenLine{
        margin-top: 60px;
        height: 25px;
        padding-top: 10px;
        font-size: 11px;
    }
    
}