.movies__card_button-delete{
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    visibility: hidden;
    transition: opacity .2s linear;
}

.saved .movies__card_button-delete:hover{
    visibility: visible;
    opacity: 0.8;
}