.movies-add__button{
    width: 320px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #202020;
    margin: 79px 0 80px 0;
    border-radius: 6px;
    border: 1px solid #424242;
    cursor: pointer;
    transition: opacity .2s linear;
}

.movies-add__button:hover{
    opacity: 0.8;
}