.content__about {
    max-width: 1200px;
    max-height: 493px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #272727;
    margin: 20px 40px 0 40px;
    color: white;
}

@media screen and (max-width: 1023px) {
    .content__about{
        max-width: 728px;
        max-height: 834px;
        margin-right: auto ;
        margin-left: auto;
    }
    
}

@media screen and (max-width: 767px) {
    .content__about{
        margin-top: 14px;
        max-width: 292px;
        max-height: 586px;
        margin-right: auto ;
        margin-left: auto;
    }
    
}