.register__button-block {
  border-radius: 3px;
  background: #4285f4;
  width: 396px;
  height: 45px;
  flex-shrink: 0;
  border: 1px solid #4285f4;
  color: white;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  transition: opacity .2s linear;
}

.register__button-block:hover{
  opacity: .8;

}
.register__button-block:disabled{
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}
.register__button-block:hover:disabled{
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

@media screen and (max-width: 767px) {
  .register__button-block{
      font-size: 12px;
      font-weight: 500;
      width: 260px;
  }
}
