.portfolio__block_url-image{
    right: 0;
    position: absolute;
    padding-top: 15px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.portfolio__block_url-image:hover{
    opacity: 0.8;
}