.information__title {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
    margin-top: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.information__title:last-of-type{
    grid-column-start: 3;
    grid-column-end: 5;
}