.information__title {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
    margin-top: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.information__title:nth-child(n + 3){
    padding-left: 40px;
}

.information__title:last-of-type{
    grid-column-start: 3;
    grid-column-end: 5;
}

@media screen and (max-width: 1023px) {
    .information__title{
        font-size: 22px;
        letter-spacing: -0.88px;
        margin: 70px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .information__title{
        margin-top: 60px;
        font-size: 18px;
        letter-spacing: -0.72px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .information__title:last-of-type{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
}