.profile__input-name{
    margin: 0;
    background: transparent;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    height: 14px;
    flex-shrink: 0;
    padding: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #424242;
}