.header__button-menu{
    display: none;
}

@media screen and (max-width: 1023px) {
    .header__button-menu{
        background-image: url('../../../images/icon__COLOR_icon-main.svg');
        width: 44px;
        height: 44px;
        background-size: cover;
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 30px;
        transition: opacity .2s linear;
        display: block;
    }
    
    .header__button-menu:hover{
        opacity: 0.8;
    }
    
}

@media screen and (max-width: 767px) {
    .header__button-menu{
        width: 40px;
        height: 43px;
        margin-right: 14px;
    }
}