.register__title-form{
    margin: 0;
    width: 100%;
    margin-bottom: 10px ;
    text-align: left;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}