.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
}

@media screen and (max-width: 1023px) {
    .filter{
        margin-top: 41px;
    }
    
}

@media screen and (max-width: 767px) {
    .filter{
        margin-top: 47px;
    }
    
}