.header {
  width: 100%;
  margin: 0 auto;
  height: 74px;
  display: flex;
  align-items: center;
}

.header__navigation{
  display:contents;
}


@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
