.movies__card-button{
    width: 72px;
    height: 21px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    border-radius: 30px;
    background: #313131;
    border: 0;
    position: absolute;
    top:14px;
    right: 14px;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .2s linear;
}

.all .movies__card-button:hover{
    visibility: visible;
    opacity: 0.8;
}